{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mis perris</title>

	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
	
	{% block content %}

	<table class="table table-bordered">
		<thead>
			<tr>
				<td>#</td>
				<td>Nombre</td>
				<td>Raza Predominante</td>
				<td>Fotografia</td>
				<td>Descripcion</td>
				<td>Estado</td>
				<td>Acciones</td>
			</tr>
		</thead>

		<tbody>
			{% if object_list %}
			{% for rescatado in object_list %}

			<tr>
				<td>{{ rescatado.id }}</td>
				<td>{{ rescatado.nombre }}</td>
				<td>{{ rescatado.razaPredominante }}</td>
				<td>{{ rescatado.fotografia }}</td>
				<td>{{ rescatado.descripcion }}</td>
				<td>{{ rescatado.estado.nombre }}</td>
				
				<td>
					<a href="{% url 'editarRescatado' pk=rescatado.id %}" class="btn btn-primary">Editar</a>
					<a href="{% url 'eliminarRescatado' pk=rescatado.id %}" class="btn btn-danger">Eliminar</a>
				</td>

			</tr>
			{% endfor %}

			{% else %}

			<h1>No hay registros de rescatados</h1>

			{% endif %}
		</tbody>
	</table>

	{% endblock %}
	
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	<script>
		$(document).ready(function(){
	    $('.datepicker').datepicker();
	  });


		 $(document).ready(function(){
		    $('select').formSelect();
		  });
        
	</script>
</body>
</html>


