{% if user.is_authenticated %}
  <div class="navbar-fixed">
      <nav id="navegacion">
        <div class="container nav-wrapper">
            <a href="#" class="brand-logo"><img class="responsive-img" src="{% static 'img/logo.png' %}"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'principal' %}" target="icontenido">Inicio</a></li>
              <li><a href="#">Quienes somos</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="{% url 'registro' %}" target="icontenido">Registro</a></li>
              <li><a href="{% url 'login' %}" target="icontenido">Cuenta</a></li>
            </ul>
        </div>
      </nav>  
  </div>
      


  <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'principal' %}" target="icontenido">Inicio</a></li>
      <li><a href="#">Quienes somos</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="{% url 'registro' %}" target="icontenido">Registro</a></li>
  </ul>
{% else %}
  <div class="navbar-fixed">
      <nav id="navegacion">
        <div class="container nav-wrapper">
            <a href="#" class="brand-logo"><img class="responsive-img" src="{% static 'img/logo.png' %}"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{% url 'principal' %}" target="icontenido">Inicio</a></li>
              <li><a href="#">Quienes somos</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="{% url 'registro' %}" target="icontenido">Registro</a></li>
              <li><a href="{% url 'login' %}" target="icontenido">Log In</a></li>
            </ul>
        </div>
      </nav>  
  </div>
      


  <ul class="sidenav" id="mobile-demo">
      <li><a href="{% url 'principal' %}" target="icontenido">Inicio</a></li>
      <li><a href="#">Quienes somos</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="{% url 'registro' %}" target="icontenido">Registro</a></li>
  </ul>
{% endif %}